<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>

        <!-- Connexion -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/refuge_db?useSSL=false&amp;amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <!-- Pool de connexions -->
        <property name="hibernate.connection.pool_size">10</property>

        <!-- Entités -->
        <mapping class="ma.refuge.model.Animal"/>
        <mapping class="ma.refuge.model.Adoptant"/>
        <mapping class="ma.refuge.model.FicheSante"/>
        <mapping class="ma.refuge.model.Historique"/>

    </session-factory>
</hibernate-configuration>
